@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --color-background: #f8fafc;
  --color-foreground: #0f1115;
}

.dark {
  --color-background: #0f1115;
  --color-foreground: #f8fafc;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
}
